{% include 'navbar.html' %}
{% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
        {% for alert, message in messages %}
        <div class="alert alert-{{ alert }}" role="alert">
            {{ message }}
        </div>
        {% endfor %}
    {% endif %}
{% endwith %}
  <body class="min-vh-100 d-flex flex-column" cz-shortcut-listen="true">
    <main class="flex-grow-1">
    {% block page_content %}{% endblock %}
    </main>
  {% include 'footer.html' %}
</body>