{% extends 'base.html' %}
     {% block content %}
    <div class="container-lg mt-3">
        <h1>Сайты</h1>
        <div class="table-responsive">
            <table class="table table-bordered table-hover text-nowrap" data-test="urls">
                <tbody>
                  <tr>
                    <th>ID</th>
                    <th>Имя</th>
                    <th>Последняя проверка</th>
                    <th>Код ответа</th>
                  </tr>
<!--                  if1 start-->
                   {% if data %}
                        {% for item in data %}
                            <tr>
                              <td>{{ item.id }}</td>
                              <td>
                              {% if  item.name %}
                                <a href="{{ url_for('main.url_page', id=item.id) }}">
                                    {{ item.name }}
                                </a>
                                 {% else %}
                                     <td></td>
                                {% endif %}
                              </td>
                                  {% if item.created_at %}
                                     <td>{{ item.created_at.date() }}</td>
                                {% else %}
                                     <td></td>
                                {% endif %}

                                </td>
                                  {% if item.status_code %}
                                     <td>{{ item.status_code }}</td>
                                {% else %}
                                     <td></td>
                                {% endif %}
                    {% endfor %}

                    {% endif %}
                         </tr>

                </tbody>
          </table>
        </div>
        </div>
    {% endblock %}