{% extends 'body.html' %}
    {% block page_content %}
    <div class="container-lg mt-3">
        <h1>Сайты</h1>
        <div class="table-responsive">
            <table class="table table-bordered table-hover text-nowrap" data-test="urls">
                <tbody>
                  <tr>
                    <th>ID</th>
                    <th>Имя</th>
                    <th>Последняя проверка</th>
                    <th>Код ответа</th>
                  </tr>
<!--                  if1 start-->
                   {% if data %}
                        {% for k,v in data.items() %}
                            <tr>
                              <td>{{ k }}</td>
                              <td>
                                <a href="/urls/{{ k }}">
                                  {{ v.name }}
                                </a>
                              </td>
                                {% if v.created_at %}
                                     <td>{{ v.created_at.date() }}</td>
                                {% else %}
                                     <td></td>
                                {% endif %}

                                  {% if v.status_code %}
                                     <td>{{ v.status_code }}</td>
                                {% else %}
                                     <td></td>
                                {% endif %}
                    {% endfor %}

                    {% endif %}
                         </tr>

                </tbody>
          </table>
        </div>
        </div>
    {% endblock %}